---
export interface Props {
	tweetUrl: string;
	imgUrl: string;
	userName: string;
	userTag: string;
	text: string;
}

const { tweetUrl, imgUrl, userName, userTag, text } = Astro.props;
---

<a
	href={tweetUrl}
	class="rounded-lg border border-stone-700 bg-stone-800 hover:border-stone-500 text-stone-300 transition-colors p-6"
>
	<div class="flex flex-row gap-4">
		<img src={imgUrl} alt="" class="rounded-full w-12 h-12" />

		<div>
			<p class="font-semibold">{userName}</p>
			<p class="text-sm text-stone-500">{userTag}</p>
		</div>
	</div>
	<p class="break-words pt-4">{text}</p>
</a>
