---
import Shell from "@leaningtech/astro-theme/layouts/Shell.astro";
import { Image } from "astro:assets";
import DukeDoodle from "../assets/cj-hackathon/duke-doodle.png";
import GenommaDoodle from "../assets/cj-hackathon/cj-genomma.png";
import LabDoodle from "../assets/cj-hackathon/cj-lab.png";
import SandDoodle from "../assets/cj-hackathon/cj-sandtimer.png";
import TicketsDoodle from "../assets/cj-hackathon/cj-tickets.png";
import LinkButton from "@leaningtech/astro-theme/components/LinkButton.astro";
import Footer from "@leaningtech/astro-theme/components/Footer.astro";
import { DISCORD_URL } from "@leaningtech/astro-theme/consts";
import Alessandro from "../assets/judges/alessandro.jpeg";
import Elisabeth from "../assets/judges/elisabeth.png";
import Ethan from "../assets/judges/ethan.jpg";
import Jeff from "../assets/judges/jeff.png";
import RuleBook from "../assets/cj-hackathon/rulebook-blue.png";
import CalendarAsset from "../assets/cj-hackathon/calendar.png";
---

<Shell>
	<section class="w-full h-auto pt-8 bg-[#fceee1]">
		<div class="py-32">
			<div class="items-center py-2">
				<Image
					src={DukeDoodle}
					alt="Duke holding a magnifier"
					class="w-80 mx-auto"
				/>
			</div>
			<div class="">
				<h1
					class="font-mono text-[#213e77] text-5xl text-center text-wrap text-balance mb-5"
				>
					CheerpJ: The Hackathon
				</h1>
				<p class="text-[#213e77] text-center">
					The Java in the browser challenge!
				</p>
				<p class="text-[#213e77] text-center font-bold">14 Nov - 1 Dec</p>
				<p class="text-[#213e77] text-center font-thin">📍Leeds & virtual</p>

				<div class="flex gap-4 justify-center my-8">
					<LinkButton
						type="primary-mono-cj"
						href="https://forms.gle/ECGyMj8xzjgWQADaA"
						label="Register"
						iconRight="ic:baseline-plus"
					/>
					<LinkButton
						type="secondary-mono-cj"
						href="https://www.cheerpj.com/docs"
						iconRight=""
						label="CheerpJ docs"
					/>
				</div>
			</div>
		</div>
	</section>
	<!-- about the event -->
	<section
		id="about"
		class="py-16 px-4 md:px-8 lg:px-28 xl:px-28 2xl:px-48 3xl:px-602 bg-[#213e77]"
	>
		<div class="px-8">
			<h1 class="font-mono font-extrabold text-4xl text-center text-white py-8">
				About this event
			</h1>

			<p
				class="font-mono text-lg sm:text-xl text-[#fceee1] text-pretty text-center"
			>
				Join this challenge to create a WebApp solution that integrates <a
					href="https://www.cheerpj.com"
					class="text-[#f76b00] hover:underline">CheerpJ</a
				> in the context of scientific software!
				<br />
				<br />
				<b>The winner team gets a sweet 500 GBP gift card 🚀!</b>
			</p>

			<br />
			<br />
			<p
				class="font-mono text-lg sm:text-xl text-[#fceee1] text-pretty text-center"
			>
				CheerpJ is a tool to run Java code in the browser without requiring a
				local Java installation. This allows for a wide range of applications to
				be available in the browser client-side, which might otherwise not be
				accessible without local installations and dependencies.
			</p>

			<p
				class="font-mono text-lg sm:text-xl text-white text-pretty text-center py-10"
			>
				Read more in this
				<a
					class="text-[#f76b00] hover:underline"
					href="https://labs.leaningtech.com/blog/cheerpj-hackathon"
				>
					blog post
				</a>
				 .
			</p>
		</div>
	</section>
	<!-- Guide section -->
	<section
		class="py-16 px-4 md:px-8 lg:px-28 xl:px-28 2xl:px-48 3xl:px-602 bg-[#fceee1]"
	>
		<h1 class="font-mono font-bold text-4xl text-center text-[#213e77] py-8">
			How to participate
		</h1>
		<!-- Step1: Register -->
		<div class="sm:grid sm:grid-cols-5 py-16">
			<div class="col-span-2 flex justify-center items-center">
				<Image src={LabDoodle} alt="Cats in a box" class="max-w-96" />
			</div>
			<div
				id="team"
				class="col-span-3 text-center sm:text-left content-center px-8 text-[#213e77]"
			>
				<h1 class="font-bold text-xl md:text-2xl font-mono text-[#213e77]">
					Step 1: Register & Join our Discord
				</h1>
				<p class="font-mono text-sm sm:text-md 2xl:text-lg py-2 text-[#213e77]">
					Register your interest on <a
						href="https://forms.gle/ECGyMj8xzjgWQADaA"
						class="text-[#f76b00] font-bold hover:underline">this form</a
					> and don't forget to join our <a
						href={DISCORD_URL}
						class="text-[#f76b00] font-bold hover:underline">Discord server</a
					> ! We use our Discord server as the main communication platform for
					this event, where we will be streaming live, giving technical support,
					and posting announcements!
				</p>

				<p class="font-mono italic text-sm sm:text-md 2xl:text-lg pb-2">
					Participants can register and join a team at any time before the
					project submission deadline.
				</p>
				<div class="flex gap-4 justify-center sm:justify-start mt-2">
					<LinkButton
						type="primary-mono-cj"
						href="https://forms.gle/ECGyMj8xzjgWQADaA"
						label="Register"
						iconRight="ic:baseline-plus"
					/>
				</div>
			</div>
		</div>
		<!-- Step 2: Tickets -->
		<div class="sm:grid grid-cols-5 py-6">
			<div
				class="sm:hidden col-span-2 flex justify-center items-center content-center"
			>
				<Image src={TicketsDoodle} alt="cat typing" class="max-w-96" />
			</div>
			<div
				id="register"
				class="col-span-3 text-center sm:text-left content-center px-8 text-[#213e77]"
			>
				<h1 class="font-bold text-xl md:text-2xl font-mono text-[#213e77]">
					Step 2: Secure your spot at the venue
				</h1>
				<p class="font-mono text-sm sm:text-md 2xl:text-lg py-2">
					This event offers a hybrid experience - <span class="italic"
						>you can fully engage online or, if you fancy, join us in-person for
						the opening and closing sessions.</span
					> If you want to attend in person, please <a
						href="https://www.eventbrite.co.uk/e/cheerpj-the-hackathon-tickets-1720914955959"
						class="text-[#f76b00] font-bold hover:underline"
					>
						secure your free individual tickets</a
					>. Pssss... There will be gifts and snacks!
				</p>
				<p class="font-mono text-md sm:text-lg 2xl:text-lg py-2">
					To fit everyone's schedule<span class="font-bold">
						we will be hosting two opening sessions on Friday, 14th November</span
					>. You can choose to attend <span class="font-bold">
						10:00 am -13:00 pm or 14:00 pm - 17:00 pm</span
					> UK time.
				</p>

				<div class="flex gap-4 justify-center sm:justify-start mt-2">
					<LinkButton
						type="secondary-mono-cj"
						href="https://www.eventbrite.co.uk/e/cheerpj-the-hackathon-tickets-1720914955959"
						label="Get tickets"
						iconRight="ion:ticket"
					/>
				</div>
			</div>
			<div
				class="hidden sm:block col-span-2 flex justify-center items-center content-center"
			>
				<Image src={TicketsDoodle} alt="Ticket drawing" class="max-w-96" />
			</div>
		</div>
		<!-- Step 3:Team up and work on your project-->
		<div class="sm:grid grid-cols-5 py-16">
			<div class="col-span-2 flex justify-center items-center content-center">
				<Image src={GenommaDoodle} alt="Ticket" class="max-w-96" />
			</div>
			<div
				id="tickets"
				class="col-span-3 text-center sm:text-left content-center px-8 text-[#213e77]"
			>
				<h1 class="font-bold text-xl md:text-2xl font-mono text-[#213e77]">
					Step 3: Team up and work on your project!
				</h1>

				<p class="font-mono text-sm sm:text-md 2xl:text-lg pb-2">
					Now it’s time to put your hands on your project! <span class="italic"
						>You can work on your project as a solo participant or in a team of
						up to 5 members.
					</span> Don't be afraid to find a team by engaging on our <a
						href={DISCORD_URL}
						class="text-[#f76b00] font-bold hover:underline">Discord server</a
					>, meeting new people at the <a
						href="https://www.eventbrite.co.uk/e/cheerpj-the-hackathon-tickets-1720914955959"
						class="text-[#f76b00] font-bold hover:underline">opening session</a
					>, or by inviting your friends!
				</p>
				<p class="font-mono text-sm sm:text-md 2xl:text-lg pb-2">
					Our core CheerpJ developers will be helping via Discord text channel
					with any technical questions during this journey. Don’t miss out on
					the opportunity to learn from the experts!
				</p>
				<div class="flex gap-4 justify-center sm:justify-start mt-2">
					<LinkButton
						type="primary-mono-cj"
						href={DISCORD_URL}
						label="Join Discord"
						iconRight="ic:baseline-discord"
					/>
				</div>
			</div>
		</div>
		<!-- Step 4: Submission and winner -->
		<div class="sm:grid grid-cols-5 py-16 text-[#213e77]">
			<div class="sm:hidden col-span-2 flex justify-center items-center">
				<Image src={SandDoodle} alt="Winner" class="max-w-96" />
			</div>
			<div
				id="submit"
				class="col-span-3 text-center sm:text-left content-center px-8"
			>
				<h1 class="font-bold text-xl md:text-2xl font-mono text-[#213e77]">
					Step 4: Submit, present, and await
				</h1>
				<p class="font-mono text-sm sm:text-md 2xl:text-lg py-2">
					Submit your creation by the deadline <span class="font-bold"
						>(Monday 1st of December at 10:00 am UK time)</span
					>.
				</p>
				<p class="font-mono text-sm sm:text-md 2xl:text-lg py-2">
					As a non-mandatory step, we encourage all teams to prepare a 5-minute
					presentation to share your creation with the community on the closing
					session! <span class="italic"
						>Presentations do not affect your final score, so don’t worry too
						much and just have fun ;)</span
					>
				</p>
				<p class="font-mono text-sm font-bold sm:text-md 2xl:text-lg pb-2">
					The final results will be published on December 15th on our Discord
					server.
				</p>
				<div class="flex gap-4 justify-center sm:justify-start mt-2">
					<LinkButton
						type="secondary-mono-cj"
						href="https://docs.google.com/forms/d/e/1FAIpQLSdzj6R_nOnsFsrAuN-yB75aycM6KRkPtjrUIZ5_WkqRjhmyhw/viewform?usp=sharing&ouid=114038750608352288329"
						label="Submit project"
						iconRight="ic:baseline-upload"
					/>

					<LinkButton
						type="secondary-mono-cj"
						href="https://www.eventbrite.co.uk/e/cheerpj-the-hackathon-tickets-1720914955959"
						label="Get tickets"
						iconRight="ion:ticket"
					/>
				</div>
			</div>
			<div
				class="hidden sm:block col-span-2 flex justify-center items-center content-center"
			>
				<Image src={SandDoodle} alt="Winner" class="max-w-80" />
			</div>
		</div>
		<div
			class="flex gap-4 justify-center items-center px-10 pt-4 text-[#213e77]"
		>
			<p class="font-mono text-center italic font-semibold">
				For more useful information and guidance, don't forget to <a
					href="https://cheerpj.com/docs"
					class="text-[#f76b00] font-bold hover:underline">read the docs</a
				>
				 or ask any technical questions on our <a
					href="https://discord.com/channels/988743885121548329/1423343287242330192"
					class="text-[#f76b00] font-bold hover:underline">Discord Server</a
				>.
			</p>
		</div>
		<div class="flex gap-4 justify-center mt-12">
			<LinkButton
				type="primary-mono-cj"
				href="https://discord.com/channels/988743885121548329/1423343287242330192"
				label="Support"
				iconRight="simple-icons:discord"
			/>
			<LinkButton
				type="secondary-mono-cj"
				href="https://cheerpj.com/docs"
				iconRight=""
				label="CheerpJ docs"
			/>
		</div>
	</section>
	<!-- Judging Panel -->
	<section
		class="py-16 px-4 md:px-8 lg:px-28 xl:px-28 2xl:px-48 3xl:px-602 bg-[#213e77]"
	>
		<h1 class="font-mono font-extrabold text-4xl text-center text-white py-8">
			Judging panel
		</h1>
		<div
			id="judges-grid"
			class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 space-x-2 font-mono text-center"
		>
			<div id="profile-container">
				<div id="picture" class="grid columns-1 justify-center py-8">
					<Image
						src={Elisabeth}
						alt="Elisabeth Panholzer"
						class="rounded-full w-80 h-80 mx-auto"
						class="rounded-full object-cover mx-auto aspect-square w-40 sm:w-48 lg:w-56"
					/>
					<a href="https://www.linkedin.com/in/elisabeth-panholzer-512163209/">
						<p class="text-lg text-[#f76b00] font-bold hover:underline pt-4">
							Elisabeth Panholzer
						</p>
					</a>
					<p class="text-xs text-white">Software Engineer</p>
					<p class="italic text-xs text-white">Leaning Technologies</p>
				</div>
			</div>
			<div id="profile-container">
				<div id="picture" class="grid columns-1 justify-center py-8">
					<Image
						src={Alessandro}
						alt="Alessandro Pignotti"
						class="rounded-full object-cover mx-auto aspect-square w-40 sm:w-48 lg:w-56"
					/>
					<a href="https://www.linkedin.com/in/alessandro-pignotti-10719617/">
						<h2 class="text-lg text-[#f76b00] font-bold hover:underline pt-4">
							Alessandro Pignotti
						</h2>
					</a>
					<p class="text-xs text-white">Chief Technology Officer</p>
					<p class="italic text-xs text-white">Leaning Technologies</p>
				</div>
			</div>
			<div id="profile-container">
				<div id="picture" class="grid columns-1 justify-center py-8">
					<Image
						src={Ethan}
						alt="Ethan Hale"
						class="items-center rounded-full w-80 h-80 mx-auto"
						class="rounded-full object-cover mx-auto aspect-square w-40 sm:w-48 lg:w-56"
					/>
					<a href="https://www.linkedin.com/in/hale-ethan/">
						<p class="text-lg text-[#f76b00] font-bold hover:underline pt-4">
							Ethan Hale
						</p>
					</a>
					<p class="text-xs text-white">
						Software Engineer & creator of Logisim.app
					</p>
					<p class="italic text-xs text-white">DRS Software</p>
				</div>
			</div>
			<div id="profile-container">
				<div id="picture" class="grid columns-1 justify-center py-8">
					<Image
						src={Jeff}
						alt="Jeff Martin"
						class="rounded-full w-80 h-80 mx-auto"
						class="rounded-full object-cover mx-auto aspect-square w-40 sm:w-48 lg:w-56"
					/>
					<a href="https://www.linkedin.com/in/jeffmartin7/">
						<p class="text-lg text-[#f76b00] font-bold hover:underline pt-4">
							Jeff Martin
						</p>
					</a>
					<p class="text-xs text-white">Founding Engineer & lead on SnapCode</p>
					<p class="italic text-xs text-white">ReportMill Software</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: Rules -->
	<section
		class="text-[#213e77] py-16 px-4 md:px-8 lg:px-28 xl:px-28 2xl:px-48 bg-[#fceee1]"
	>
		<div class="flex justify-center items-center">
			<Image src={RuleBook} alt="Rule book" class="w-52" />
		</div>

		<h1 class="text-[#213e77] font-mono font-bold text-4xl text-center py-8">
			Rules of the Game
		</h1>

		<div class="max-w-4xl mx-auto text-[#213e77] font-mono space-y-8">
			<p class="italic font-semibold text-center">
				The boring but highly important section. Please make sure to follow
				these rules for your project and participation to be valid.
			</p>

			<!-- Rules list -->
			<div class="bg-white rounded-2xl shadow-md p-8">
				<h2 class="text-2xl font-bold mb-6 text-center text-[#f76b00]">
					The Important Stuff
				</h2>
				<ol class="list-decimal list-inside space-y-4 leading-relaxed">
					<li>
						All projects must use <strong>CheerpJ</strong> actively. Projects
						where CheerpJ is imported but not used will be discarded.
					</li>
					<li>
						Submit your project no later than
						<strong>1st December 2025, 10:00 AM (UK time)</strong>.
					</li>
					<li>
						No further commits are allowed after the deadline. Fork your
						repository if you wish to continue working afterward.
					</li>
					<li>
						All project repositories must remain <strong
							>public and open source</strong
						> on GitHub.
					</li>
					<li>
						Projects must be <strong>deployed and hosted publicly</strong>
						 (e.g., GitHub Pages).
					</li>
					<li>
						Credit third-party components and ensure licensing compliance.
					</li>
					<li>If using generative AI, provide proper credit.</li>
					<li>
						Teams must have between <strong>1 and 5 registered members</strong>.
					</li>
					<li>
						Winning team: <strong>£500 gift card</strong>. The team leader will
						be contacted via Discord to arrange delivery.
					</li>
					<li>
						Projects promoting <strong>violence, hate, or discrimination</strong
						> will be disqualified. Respect and professionalism are expected at
						all times.
					</li>
					<li>
						Participants must be <strong>18+</strong>. Minors may join only with
						full parental consent (contact
						<a
							href="mailto:stefano@leaningtech.com"
							class="text-[#f76b00] hover:underline">stefano@leaningtech.com</a
						>).
					</li>
					<li>
						All qualified projects will be showcased in our official hackathon
						repository.
					</li>
				</ol>
			</div>
		</div>
	</section>

	<!-- Agenda section -->
	<section
		id="agenda"
		class="text-white py-16 px-4 md:px-8 lg:px-28 xl:px-28 2xl:px-48 3xl:px-602 bg-[#213e77]"
	>
		<div class="flex justify-center items-center">
			<Image src={CalendarAsset} alt="Calendar" class="w-52" />
		</div>
		<h1 class="font-mono font-extrabold text-4xl text-center text-white py-8">
			Agenda
		</h1>
		<p class="text-lg font-mono text-center">
			Please consider this agenda is subject to change, stay tuned!
		</p>
		<p
			class="text-base text-center text-[#befffa] italic max-w-2xl mx-auto mt-3"
		>
			We understand that our hackathletes might have other responsibilities
			throughout the day; therefore, we are hosting two opening sessions with
			the same content. Choose the one that suits you best!
		</p>

		<!-- Opening session 1 -->
		<div class="py-6">
			<h2 class="font-mono text-lg sm:text-lg font-bold text-[#f76b00]">
				Friday <span class="font-normal">14/November/2025</span>
			</h2>

			<p
				class="font-mono font-bold text-md sm:text-md text-[#fceee1] text-pretty text-left py-2 underline"
			>
				Opening session 1 (10:00 - 13:00)
			</p>

			<div class="px-2">
				<div class="relative overflow-x-auto">
					<table
						class="min-w-96 w-full text-xs sm:text-sm text-left text-nowrap font-mono border border-transparent border-spacing-2"
					>
						<thead>
							<tr class="">
								<th class="pr-2 px-2">UK Time</th>
								<th class="pr-2 px-2">Event</th>
								<th class="pr-2 px-2">Description</th>
								<th class="pr-2 px-2">Leeds site</th>
								<th class="pr-2 px-2">Discord</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">10:00</td>
								<td class="pr-2 px-2">Reception</td>
								<td class="pr-2 px-2">Ice breaker, gifts & welcome chat!</td>
								<td class="pr-2 px-2">Venue opens</td>
								<td class="pr-2 px-2">-</td>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">10:30</td>
								<td class="pr-2 px-2">Welcome talk</td>
								<td class="pr-2 px-2">Event overivew, rules & submissions</td>
								<td class="pr-2 px-2">Main venue screen (Seminar room 3)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on Stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">11:00</td>
								<td class="pr-2 px-2">Introduction to CheerpJ workshop</td>
								<td class="pr-2 px-2">Beginner session: Using CheerpJ</td>
								<td class="pr-2 px-2">Main venue screen (Seminar room 3)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">12:00</td>
								<td class="pr-2 px-2 whitespace-normal break-words align-top"
									>Guest talk “Building logisim.app with CherpJ” by Ethan Hale</td
								>
								<td class="pr-2 px-2"
									>Get inspired to build your own project.</td
								>
								<td class="pr-2 px-2">Main venue screen (Seminar room 3)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">12:30</td>
								<td class="pr-2 px-2">Closing remarks</td>
								<td class="pr-2 px-2">Q&A and key event reminders</td>
								<td class="pr-2 px-2">Refreshments provided</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Opening session 2 -->
		<div class="py-6">
			<p
				class="font-mono font-bold text-md sm:text-md text-[#fceee1] text-pretty text-left pb-2 underline"
			>
				Opening session 2 (14:00 - 17:00)
			</p>

			<div class="px-2">
				<div class="relative overflow-x-auto">
					<table
						class="min-w-96 w-full text-xs sm:text-sm text-left text-nowrap font-mono border border-transparent border-spacing-2"
					>
						<thead>
							<tr class="">
								<th class="pr-2 px-2">UK Time</th>
								<th class="pr-2 px-2">Event</th>
								<th class="pr-2 px-2">Description</th>
								<th class="pr-2 px-2">Leeds site</th>
								<th class="pr-2 px-2">Discord</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">14:00</td>
								<td class="pr-2 px-2">Reception</td>
								<td class="pr-2 px-2">Ice breaker, gifts & welcome chat!</td>
								<td class="pr-2 px-2">Venue opens</td>
								<td class="pr-2 px-2">-</td>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">14:30</td>
								<td class="pr-2 px-2">Welcome talk</td>
								<td class="pr-2 px-2">Event overivew, rules & submissions</td>
								<td class="pr-2 px-2">Main venue screen (Seminar room 3)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on Stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">15:00</td>
								<td class="pr-2 px-2">Introduction to CheerpJ workshop</td>
								<td class="pr-2 px-2">Beginner session: Using CheerpJ</td>
								<td class="pr-2 px-2">Main venue screen (Seminar room 3)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">16:00</td>
								<td class="pr-2 px-2 whitespace-normal break-words align-top"
									>Guest talk "Building logisim.app with CherpJ" by Ethan Hale</td
								>
								<td class="pr-2 px-2"
									>Get inspired to build your own project.</td
								>
								<td class="pr-2 px-2">Main venue screen (Seminar room 3)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">16:30</td>
								<td class="pr-2 px-2">Closing remarks</td>
								<td class="pr-2 px-2">Q&A and key event reminders</td>
								<td class="pr-2 px-2">Refreshments provided</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Support -->
		<div class="py-6">
			<h2 class="font-mono text-md sm:text-lg font-bold text-[#f76b00] pb-2">
				Saturday <span class="font-normal">15/November/2025</span> - Sunday
				<span class="font-normal">30/November 2025</span>
			</h2>
			<div class="px-2">
				<div class="relative overflow-x-auto">
					<table
						class="min-w-96 w-full text-xs sm:text-sm text-left text-nowrap font-mono border border-transparent border-spacing-2"
					>
						<thead>
							<tr class="">
								<th class="pr-2 px-2">UK Time</th>
								<th class="pr-2 px-2">Event</th>
								<th class="pr-2 px-2">Description</th>
								<th class="pr-2 px-2">Leeds site</th>
								<th class="pr-2 px-2">Discord</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">11:00</td>
								<td class="pr-2 px-2">Online technical support starts</td>
								<td class="pr-2 px-2">Get help from the experts!</td>
								<td class="pr-2 px-2">-</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1423343287242330192"
										>#hackathletes-support channel</a
									></td
								>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="py-6">
			<h2 class="font-mono text-md sm:text-lg font-bold text-[#f76b00]">
				Monday <span class="font-normal">1/December/2025</span>
			</h2>
			<p
				class="font-mono font-bold text-md sm:text-md text-[#fceee1] text-pretty text-left py-2 underline"
			>
				Closing day (10:30 am - 17:00)
			</p>
			<div class="px-2">
				<div class="relative overflow-x-auto">
					<table
						class="min-w-96 w-full text-xs sm:text-sm text-left text-nowrap font-mono border border-transparent border-spacing-2"
					>
						<thead>
							<tr class="">
								<th class="pr-2 px-2">UK Time</th>
								<th class="pr-2 px-2">Event</th>
								<th class="pr-2 px-2">Description</th>
								<th class="pr-2 px-2">Leeds site</th>
								<th class="pr-2 px-2">Discord</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">10:00</td>
								<td class="pr-2 px-2">Submissions Closed</td>
								<td class="pr-2 px-2">
									<span>
										Make sure to
										<a
											href="https://docs.google.com/forms/d/e/1FAIpQLSdzj6R_nOnsFsrAuN-yB75aycM6KRkPtjrUIZ5_WkqRjhmyhw/viewform"
											class="text-[#f76b00] font-bold hover:underline"
											target="_blank"
										>
											submit your project
										</a>
										 before this time
									</span>
								</td>

								<td class="pr-2 px-2">-</td>
								<td class="pr-2 px-2">-</td>
							</tr>

							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">10:30</td>
								<td class="pr-2 px-2">Venue doors open</td>
								<td class="pr-2 px-2"
									>Come to the venue, grab your seat, and chit-chat.</td
								>
								<td class="pr-2 px-2">Seminar 2</td>
								<td class="pr-2 px-2">-</td>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">11:00</td>
								<td class="pr-2 px-2">Presentations block 1</td>
								<td class="pr-2 px-2"
									>Share and discover the creations of our participants!</td
								>
								<td class="pr-2 px-2">Seminar 2 (Main Screen)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">13:00</td>
								<td class="pr-2 px-2">Lunch break and Networking</td>
								<td class="pr-2 px-2">(food is on us!)</td>
								<td class="pr-2 px-2">Seminar 2</td>
								<td class="pr-2 px-2">-</td>
							</tr>
							<tr class="even:bg-[#213e77] odd:bg-[#49659e]">
								<td class="pr-2 px-2">15:00</td>
								<td class="pr-2 px-2">Presentations block 2</td>
								<td class="pr-2 px-2"
									>Share and discover the creations of our participants!</td
								>
								<td class="pr-2 px-2">Seminar 2 (Main Screen)</td>
								<td class="pr-2 px-2"
									><a
										target="_blank"
										class="text-[#f76b00] hover:underline"
										href="https://discord.com/channels/988743885121548329/1131533743748825128"
										>Stream on stage</a
									></td
								>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<h1 class="font-mono text-md sm:text-lg font-bold text-center py-8">
			Monday 15/December/2025: <a
				class="text-[#f76b00] font-bold hover:underline">Winner Announcement!</a
			>
		</h1>
		<h2 class="font-mono text-md sm:text-lg font-bold text-center pb-8">
			We will announce the winning team as well as the scoring for all qualified
			projects. Team leaders will receive feedback via private message on
			Discord :) Stay tuned! 🏆
		</h2>
	</section>
</Shell>

<Footer />
