---
import Footer from "@leaningtech/astro-theme/components/Footer.astro";
import Shell from "@leaningtech/astro-theme/layouts/Shell.astro";
import Hero from "../components/landing-page/Hero.astro";
import { products } from "@leaningtech/astro-theme/products";
import { Image } from "astro:assets";
import LinkButton from "@leaningtech/astro-theme/components/LinkButton.astro";
import BlogPostCardSet from "@leaningtech/astro-theme/components/BlogPostCardSet.astro";
import webvmLogotype from "../../assets/branding/tools/webvm.png";
import pythonfiddleLogotype from "../../assets/branding/tools/pythonFiddle.png";
import javafiddleLogotype from "../../assets/branding/tools/javaFiddle.png";

const others = [
	{
		href: "https://webvm.io/",
		name: "WebVM",
		logotype: webvmLogotype,
		description:
			"Linux virtual machine running fully client-side. Powered by CheerpX.",
	},
	{
		href: "https://javafiddle.leaningtech.com/",
		name: "JavaFiddle",
		logotype: javafiddleLogotype,
		description:
			"Build, run, and share snippets of Java code in your browser. Powered by CheerpJ.",
	},
	{
		href: "https://pythonfiddle.leaningtech.com/",
		name: "PythonFiddle",
		logotype: pythonfiddleLogotype,
		description:
			"Build, run, and share snippets of Python code in your browser. Powered by CheerpX.",
	},
];
---

<Shell>
	<Hero />

	<div class="space-y-16 px-6 py-10 w-full max-w-screen-2xl mx-auto">
		<div id="ecosystem">
			<div class="mb-8">
				<p class="text-lg text-stone-400">Documentation</p>
				<h2 class="text-4xl font-bold text-white">Explore technologies</h2>
			</div>
			<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch">
				{
					Object.values(products)
						.filter(
							(product) =>
								product.id !== "cheerpj2" && product.type == "technology"
						)
						.map((product) => (
							<a
								href={product.href}
								class="rounded-lg bg-stone-800 bg-opacity-50 hover:bg-opacity-100 border border-stone-700 hover:border-stone-500 text-stone-400 transition-colors shadow px-8 py-6"
							>
								<p class=" leading-6 mb-16 font-semibold">{product.subtitle}</p>
								<Image
									src={product.logotype}
									alt={product.name}
									class="w-auto h-12 mb-4"
								/>
								<p class="leading-6 text-balance text-lg mb-8">
									{product.description}
								</p>
							</a>
						))
				}
			</div>
		</div>

		<div>
			<div class="mb-8">
				<p class="text-lg text-stone-400">Our technology, straightforward</p>
				<h2 class="text-4xl font-bold text-white">Browser extensions</h2>
			</div>
			<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch">
				{
					Object.values(products)
						.filter((product) => product.type == "extension")
						.map((product) => (
							<a
								href={product.href}
								class="rounded-lg bg-stone-800 bg-opacity-50 hover:bg-opacity-100 border border-stone-700 hover:border-stone-500 text-stone-400 transition-colors shadow px-8 py-6"
							>
								<p class=" leading-6 mb-16 font-semibold">{product.subtitle}</p>
								<div class="inline-block">
									<Image
										src={product.logotype}
										alt={product.name}
										class="w-auto h-24 mb-4"
									/>
									<h5 class="w-auto h-12 text-2xl font-semibold  text-balance text-stone-100">
										{product.name}
									</h5>
								</div>

								<p class="leading-6 text-balance text-lg mb-8">
									{product.description}
								</p>
							</a>
						))
				}
			</div>
		</div>

		<div class="my-8">
			<p class="text-lg text-stone-400">
				What can you build with our technology?
			</p>
			<h2 class="text-4xl font-bold text-white">Other tools</h2>
		</div>
		<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch">
			{
				others.map((product) => (
					<a
						href={product.href}
						class="rounded-lg border border-stone-800 hover:border-stone-500 text-stone-400 transition-colors shadow px-8 py-6 h-64"
					>
						<Image
							src={product.logotype}
							alt={product.name}
							class="w-auto h-16 mb-4"
						/>
						<h5 class="w-auto h-12 text-2xl font-semibold text-balance text-stone-100">
							{product.name}
						</h5>
						<p class="leading-6 text-balance text-lg">{product.description}</p>
					</a>
				))
			}
		</div>
	</div>

	<section class="w-full max-w-screen-2xl mx-auto px-6 py-10">
		<div class="mb-8">
			<p class="text-lg text-stone-400">Engineering blog</p>
			<h2 class="text-4xl font-bold text-white">Latest news</h2>
		</div>
		<BlogPostCardSet />
		<div class="mt-8">
			<LinkButton
				type="secondary"
				href="/blog"
				label="View all blog posts"
				iconRight="mi:arrow-right"
			/>
		</div>
	</section>
</Shell>

<Footer />
