---
import Basic from "../layouts/Basic.astro";

import companyLogo from "../assets/branding/company/tower.svg";
import { products } from "../lib/products";
import { Image } from "astro:assets";
import LinkButton from "@/components/LinkButton.astro";

const others = [
	{
		href: "/cheerpx/for-flash",
		name: "CheerpX for Flash",
		description: "Run your Flash content in the browser, without the Flash Player plugin, with 100% accuracy.",
	},
	{
		href: "https://webvm.io/",
		name: "WebVM",
		description: "Linux virtual machine running fully client-side. Powered by CheerpX."
	},
	{
		href: "https://javafiddle.leaningtech.com/",
		name: "JavaFiddle",
		description: "Build, run, and share snippets of Java code in your browser. Powered by CheerpJ.",
	},
	{
		href: "https://pythonfiddle.leaningtech.com/",
		name: "PythonFiddle",
		description: "Build, run, and share snippets of Python code in your browser. Powered by CheerpX.",
	},
]
---

<Basic
	title="Leaning Technologies Documentation"
	description="Get started in minutes running C++, Java, or any subtitle of your choice in the browser with WebAssembly using the Leaning Technologies ecosystem."
>
	<div class="space-y-16 pb-8">
		<div
			class="border-b border-white border-opacity-30 flex flex-col items-center gap-8 pb-8"
		>
			<Image src={companyLogo} alt="" class="w-24 h-24" />
			<h1 class="text-4xl lg:text-5xl font-extrabold text-center text-white">
				Leaning&nbsp;Technologies Documentation
			</h1>
		</div>

		<div>
			<div class="mb-8">
				<p class="text-lg text-stone-400">Our ecosystem</p>
				<h2 class="text-4xl font-bold text-white">Explore technologies</h2>
			</div>
			<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch">
				{
					Object.values(products)
						.filter((product) => product.id !== "cheerpj2")
						.map((product) => (
							<a
								href={product.href}
								class="rounded-lg bg-stone-800 bg-opacity-50 hover:bg-opacity-100 border border-stone-700 hover:border-stone-500 text-stone-400 transition-colors shadow px-8 py-6"
							>
								<p class=" leading-6 mb-16 font-semibold">{product.subtitle}</p>
								<Image
									src={product.logotype}
									alt={product.name}
									class="w-auto h-12 mb-4"
								/>
								<p class="leading-6 text-balance text-lg mb-8">
									{product.description}
								</p>
							</a>
						))
				}
			</div>
		</div>
	</div>

	<div>
		<div class="my-8">
			<p class="text-lg text-stone-400">What can you build with our technology?</p>
			<h2 class="text-4xl font-bold text-white">Other tools</h2>
		</div>
		<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch">
			{
				others.map((product) => (
					<a
						href={product.href}
						class="rounded-lg border border-stone-800 hover:border-stone-500 text-stone-400 transition-colors shadow px-8 py-6"
					>
						<h5
							class="w-auto h-12 text-2xl font-semibold text-balance text-stone-100"
						>
							{product.name}
						</h5>
						<p class="leading-6 text-balance text-lg">
							{product.description}
						</p>
					</a>
				))
			}
			<div class="rounded-lg border border-stone-800 text-stone-400 shadow px-8 py-6">
				<h5
					class="w-auto h-12 text-2xl font-semibold text-balance text-stone-100"
				>
					CheerpJ Applet Runner
				</h5>
				<p class="leading-6 text-balance text-lg mb-4">
					A Chrome and Edge browser extension which runs Java applets found in the wild on modern browsers.
				</p>
				<div class="flex flex-wrap gap-2">
					<LinkButton
						type="secondary"
						href="https://chrome.google.com/webstore/detail/cheerpj-applet-runner/bbmolahhldcbngedljfadjlognfaaein"
						label="Add to Chrome"
						iconLeft="openmoji:chrome"
					/>
					<LinkButton
						type="secondary"
						href="https://microsoftedge.microsoft.com/addons/detail/cheerpj-applet-runner/ebfcpaoldmijengghefpohddmfpndmic"
						label="Add to Microsoft Edge"
						iconLeft="openmoji:edge"
					/>
				</div>
			</div>
		</div>
	</div>
</div>

	<div
		class="bg-gradient-to-b from-primary-600 to-transparent opacity-20 w-full h-[40rem] absolute inset-0 -z-10"
	>
		<!-- cool background -->
	</div>
</Basic>
