---
import Basic from "../layouts/Basic.astro";

import companyLogo from "../assets/branding/company/tower.svg";
import { products } from "../lib/products";
---

<Basic
	title="Leaning Technologies Documentation"
	description="Get started in minutes running C++, Java, or any subtitle of your choice in the browser with WebAssembly using the Leaning Technologies ecosystem."
>
	<div class="space-y-16 pb-8">
		<div
			class="border-b border-white border-opacity-30 flex flex-col items-center gap-8 pb-8"
		>
			<img src={companyLogo} alt="" class="w-24 h-24" />
			<h1 class="text-4xl lg:text-5xl font-extrabold text-center text-white">
				Leaning&nbsp;Technologies Documentation
			</h1>
		</div>

		<div>
			<div class="mb-8">
				<p class="text-lg text-stone-400">Our ecosystem</p>
				<h2 class="text-4xl font-bold text-white">Explore products</h2>
			</div>
			<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch">
				{
					Object.values(products).filter(product => product.id !== "cheerpj3").map((product) => (
						<a
							href={product.href}
							class="rounded-lg bg-stone-800 bg-opacity-50 hover:bg-opacity-100 border border-stone-700 hover:border-stone-500 text-stone-400 transition-colors shadow px-8 py-6"
						>
							<p class=" leading-6 mb-16 font-semibold">{product.subtitle}</p>
							<img
								src={product.logotype}
								alt={product.name}
								class="h-12 mb-4"
							/>
							<p class="leading-6 text-balance text-lg mb-8">
								{product.description}
							</p>
						</a>
					))
				}
			</div>
		</div>
	</div>

	<div
		class="bg-gradient-to-b from-primary-600 to-transparent opacity-20 w-full h-[40rem] absolute inset-0 -z-10"
	>
		<!-- cool background -->
	</div>
</Basic>
