---
import { getEntry, type CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { resolveAuthors } from "../lib/blog";
import { Image } from "astro:assets";

interface Props {
	post: CollectionEntry<"blog"> | CollectionEntry<"blog">["slug"];
	showMetadata?: boolean;
	size?: "wide" | "narrow";
}

const { post: postOrSlug, showMetadata = false, size = "narrow" } = Astro.props;
const post =
	typeof postOrSlug === "string"
		? await getEntry("blog", postOrSlug)
		: postOrSlug;
const authors = await resolveAuthors(post.data.authors);
---

<a
	href={`/blog/${post.slug}`}
	class="inline-flex flex-col space-between group overflow-hidden"
>
	{
		post.data.heroImage && (
			<Image
				src={post.data.heroImage}
				width={size === "wide" ? 600 : 390}
				height={256}
				alt=""
				class:list={{
					"rounded-xl mb-4 height-20 bg-stone-100 object-cover h-64": true,
				}}
			/>
		)
	}
	<h3
		class:list={{
			"font-bold text-balance text-white group-hover:text-primary-400 grow": true,
			"text-2xl leading-7": size === "wide",
			"text-xl leading-6": size === "narrow",
		}}
	>
		{post.data.title}
	</h3>
	{
		showMetadata && (
			<div class="mt-4 flex justify-between items-center gap-8 text-stone-400 text-base whitespace-nowrap">
				<div class="flex items-center gap-2 font-semibold overflow-hidden">
					<div class="flex-none space-x-[-1rem]">
						{authors.map((author) =>
							author.avatar ? (
								<img
									class="inline-block w-8 h-8 rounded-full shadow border-2 border-stone-900"
									src={author.avatar.src}
									alt=""
									loading="lazy"
									decoding="async"
								/>
							) : undefined,
						)}
					</div>
					<span class="overflow-hidden text-ellipsis">
						{authors.map((author) => author.name).join(", ")}
					</span>
				</div>
				<FormattedDate date={post.data.pubDate} />
			</div>
		)
	}
</a>
