---
import type { NavEntry } from "../lib/nav";

export interface Props {
	entry: NavEntry;
	depth?: number;
}

const { entry, depth = 0 } = Astro.props;

const pathname = Astro.url.pathname.replace(".html", "");
---

{
	entry.type === "file" && !entry.isIndex && (
		<li
			class:list={[
				"group px-4 py-1 border-l border-stone-800 text-stone-400 hover:border-stone-400 hover:text-white",
				{
					"font-semibold !text-primary-500 !border-primary-600 bg-primary-600 bg-opacity-5":
						entry.href === pathname,
				},
			]}
			data-is-active={entry.href === pathname}
		>
			<a href={entry.href} class="block">
				{entry.title}
			</a>
		</li>
	)
}
{
	entry.type === "directory" && (
		<li class:list={["py-1", { "pl-4 border-l border-stone-800": depth > 0 }]}>
			<h5 class="mb-1 font-semibold text-slate-100">
				<a
					href={entry.href}
					class:list={[
						"block",
						{
							"!text-primary-500": entry.href === pathname,
						},
					]}
				>
					{entry.title}
				</a>
			</h5>
			<ol>
				{entry.entries.map((entry) => {
					return <Astro.self {entry} depth={depth + 1} />;
				})}
			</ol>
		</li>
	)
}
