---
import type { NavDirectory } from "../lib/nav";

import { Icon } from "astro-icon";
import DocsSidebarNavEntry from "./DocsSidebarNavEntry.astro";
import { productFromUrl as productFromUrl } from "../lib/products";
import { Image } from "astro:assets";
import ProductVersionSwitcher from "./ProductVersionSwitcher.astro";

interface Props {
	directory: NavDirectory | undefined;
}

const { directory } = Astro.props;

/*const modes: { mode: Mode; name: string; icon: string }[] = [
	{
		mode: "tutorials",
		name: "Tutorials",
		icon: "📚",
	},
	{
		mode: "guides",
		name: "How-to guides",
		icon: "🤔",
	},
	{
		mode: "reference",
		name: "Reference",
		icon: "📖",
	},
	{
		mode: "explanation",
		name: "Explanation",
		icon: "🧠",
	},
];*/

const product = productFromUrl(Astro.url);
if (!product) {
	throw new Error(`unable to derive product from url: ${Astro.url.pathname}`);
}
---

<aside
	is="docs-sidebar"
	class="bg-stone-800 lg:bg-stone-900 fixed lg:sticky top-[65px] z-10 p-8 w-full sm:w-80 h-[calc(100vh-4rem)] overflow-y-auto lg:text-sm"
>
	<button data-sidebar-close class="absolute top-4 right-4 lg:hidden">
		<span class="sr-only">Close navigation</span>
		<Icon name="jam:close" class="w-6 h-6 text-stone-400 hover:text-white" />
	</button>

	{
		/*<ul class="leading-8 font-semibold mb-4 text-base space-y-2">
		{
			modes.map((item) => (
				<li>
					<a
						href={`/${product.href}/${item.mode}`}
						class:list={[
							"group flex items-center gap-4 text-stone-400 hover:text-white",
							{
								"!text-cheerp": item.mode === mode,
							},
						]}
					>
						<span
							class:list={[
								"bg-stone-800 group-hover:bg-stone-700 w-8 h-8 rounded-md flex items-center justify-center text-xl",
								{
									"!bg-cheerp": item.mode === mode,
								},
							]}
						>
							{item.icon}
						</span>
						<span>{item.name}</span>
					</a>
				</li>
			))
		}
	</ul>*/
	}

	{
		directory && (
			<ol>
				{directory.entries.map((entry) => (
					<DocsSidebarNavEntry {entry} />
				))}
			</ol>
		)
	}
</aside>

<script>
	function loadPos(): number {
		const pos = parseFloat(
			sessionStorage.getItem("docs-sidebar-scroll") || "0",
		);
		if (isNaN(pos)) return 0;
		return pos;
	}

	function savePos(pos: number) {
		sessionStorage.setItem("docs-sidebar-scroll", pos.toString());
	}

	class DocsSidebar extends HTMLElement {
		constructor() {
			super();

			// Maintain scroll position across page reloads
			this.scrollTop = loadPos();
			window.addEventListener("beforeunload", () => {
				savePos(this.scrollTop);
			});

			// If the active item is out of view, scroll so it is in the center
			const activeEl = this.querySelector<HTMLLIElement>("li[data-is-active]");
			if (activeEl) {
				const scrollRect = this.getBoundingClientRect();
				const activeRect = activeEl.getBoundingClientRect();

				const top = activeEl.offsetTop;
				const bottom = top - scrollRect.height + activeRect.height;

				if (this.scrollTop > top || this.scrollTop < bottom) {
					this.scrollTop = top - scrollRect.height / 2 + activeRect.height / 2;
				}
			} else {
				console.warn("docs-sidebar didn't find active link");
			}
		}
	}

	customElements.define("docs-sidebar", DocsSidebar, { extends: "aside" });
</script>
