---
import { Icon } from "astro-icon";

import { SITE_TITLE, DISCORD_URL } from "../consts";

import companyLogo from "../assets/branding/company/tower.svg";
import Search from "./Search.astro";

const links = [
	{ name: "Docs", href: "/docs" },
	{ name: "Demos", href: "https://leaningtech.com/demo/" }, // TODO: demos page
	{ name: "Blog", href: "/blog" },
];
---

<nav
	aria-label="Primary navigation"
	class="sticky top-0 z-20 bg-stone-900 bg-opacity-70 backdrop-blur text-white text-sm font-semibold leading-6 border-b border-stone-600 border-opacity-20"
>
	<div
		class="max-w-screen-2xl w-full mx-auto h-16 px-4 sm:px-6 md:px-8 py-4 flex items-center justify-between gap-6 whitespace-nowrap overflow-hidden"
	>
		<div class="flex gap-4 flex-none">
			<a href="/" class="flex items-center gap-4">
				<img src={companyLogo} alt={SITE_TITLE} class="w-8 h-8" />
				<span class="hidden md:block text-xl">Developer</span>
			</a>
		</div>

		<Search />

		<div class="flex items-center gap-4 xl:gap-8 ml-auto flex-none">
			{
				links.map((link) => (
					<a href={link.href} class="hover:text-primary-500">
						{link.name}
					</a>
				))
			}
		</div>

		<div class="border-l border-stone-800 h-6 mx-4 xl:mx-8"></div>

		<a
			href={DISCORD_URL}
			class="bg-blurple rounded-md px-2 md:px-4 self-stretch flex items-center gap-1.5"
		>
			<Icon name="fa-brands:discord" class="w-6 h-6" />
			<span class="hidden md:block">Join the community</span>
			<span class="sr-only">on Discord</span>
		</a>
	</div>
</nav>

<style is:global></style>
