---
import { Icon } from "astro-icon";
//import DiscordPresenceCount from "./DiscordPresenceCount.astro";
import Search from "./Search.astro";

import { SITE_TITLE, DISCORD_URL } from "../consts";

import companyLogo from "../assets/branding/company/tower.svg";

const links = [
	{ name: "Docs", href: "/docs" },
	{ name: "Demos", href: "/demos" },
	{ name: "Blog", href: "/blog" },
];
---

<nav
	aria-label="Primary navigation"
	class="bg-black text-white text-sm font-semibold leading-6 border-b border-stone-800 shadow-xl"
>
	<div
		class="container mx-auto h-16 py-4 flex items-center justify-between gap-6 whitespace-nowrap"
	>
		<div class="basis-64 flex gap-4">
			<a href="/">
				<img src={companyLogo} alt={SITE_TITLE} class="w-8 h-8" />
			</a>
		</div>

		<Search />

		<div class="flex items-center gap-8 ml-auto">
			{
				links.map((link) => (
					<a href={link.href} class="hover:text-primary-500">
						{link.name}
					</a>
				))
			}
		</div>

		<div class="border-l border-stone-800 h-6"></div>

		<a
			href={DISCORD_URL}
			class="bg-blurple rounded-md px-4 self-stretch flex items-center gap-1.5"
		>
			<Icon name="fa-brands:discord" class="w-6 h-6" />
			 Join the community
			<span class="sr-only">on Discord</span>
		</a>
	</div>
</nav>

<style is:global></style>
