---
import { type ProductData, getProductNav } from "@/lib/products";
import { Image } from "astro:assets";
import Search from "./Search.astro";
import { DISCORD_URL } from "@/consts";
import Icon from "astro-icon";
import ProductVersionSwitcher from "./ProductVersionSwitcher.astro";

interface Props {
	product: ProductData;
}

const { product } = Astro.props;

const nav = await getProductNav(product.id);
const links = nav.entries
	.filter((entry) => entry.type === "directory")
	.map((entry) => {
		return {
			name: entry.title,
			href: entry.href,
		};
	});
---

<nav
	aria-label="Product navigation"
	class="sm:sticky top-0 z-40 bg-stone-900 bg-opacity-90 backdrop-blur-lg text-white text-sm font-semibold leading-6 border-b border-stone-600 border-opacity-20"
>
	<div
		class="max-w-screen-2xl w-full mx-auto h-16 px-4 sm:px-6 md:px-8 py-4 flex items-center justify-between gap-8 whitespace-nowrap overflow-hidden"
	>
		<div class="flex gap-4 flex-none lg:basis-64 lg:mr-10 justify-between">
			<a href={product.href} class="flex items-center">
				<Image src={product.logotype} alt={product.name} class="w-auto h-8" />
			</a>
			{product.id.startsWith("cheerpj") && <ProductVersionSwitcher {product} />}
		</div>

		<Search />

		<div class="flex items-center gap-4 ml-auto flex-none text-stone-300">
			{
				links.map((link) => (
					<a href={link.href} class="hover:text-white">
						{link.name}
					</a>
				))
			}
		</div>

		<div class="flex items-center gap-4">
			<a href={product.github}>
				<Icon name="fa-brands:github" class="w-6 h-6" />
				<span class="sr-only">GitHub</span>
			</a>
			<a href={DISCORD_URL}>
				<Icon name="fa-brands:discord" class="w-6 h-6" />
				<span class="sr-only">Discord server</span>
			</a>
		</div>
	</div>
</nav>
