---
import Shell from "./Shell.astro";
import DocsSidebar from "../components/DocsSidebar.astro";
import { getRootNav, findNavDirectory } from "../lib/nav";
import { productFromUrl } from "../lib/products";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import TableOfContents from "../components/TableOfContents.astro";
import type { Heading } from "../components/TableOfContentsHeading.astro";
import DocsPagination from "../components/DocsPagination.astro";
import Footer from "../components/Footer.astro";
import ProductNav from "@/components/ProductNav.astro";
import WasThisHelpful from "@/components/WasThisHelpful.astro";
import BentoGrid from "@/components/patterns/BentoGrid.astro";

interface Props {
	id: string;
	title: string;
	description: string | undefined;
	headings: Heading[] | undefined;
}

const { id, title, description, headings } = Astro.props;

const nav = await getRootNav();
const product = productFromUrl(Astro.url);

if (!product) throw new Error("Product not found");

const directory = findNavDirectory(nav, [product.id]);
---

<Shell
	title={[
		title === product.name ? undefined : title,
		product.name + " Documentation",
	]
		.filter(Boolean)
		.join(" - ")}
	description={description ?? product.description}
>
	<BentoGrid />
	<ProductNav {product} />
	<docs-article class="max-w-[92rem] w-full mx-auto flex justify-between">
		<div
			data-sidebar-wrapper
			class="hidden lg:block shadow-xl lg:shadow-none z-50 lg:z-30"
		>
			<DocsSidebar {directory} />
		</div>
		<div
			data-backdrop
			class="hidden lg:hidden fixed inset-0 bg-stone-900 bg-opacity-50 backdrop-blur z-40"
		>
		</div>
		<main class="overflow-x-hidden">
			<div
				class="p-3 lg:px-8 mb-2.5 lg:mb-0 lg:mt-2.5 flex items-center gap-4 border-b lg:border-b-0 border-stone-600 border-opacity-20"
			>
				<button data-sidebar-toggle class="lg:hidden">
					<span class="sr-only">Open navigation menu</span>
					<Icon name="mi:menu" class="w-8 h-8 text-white" />
				</button>
				<Breadcrumbs current={id} />
			</div>

			<main
				data-pagefind-body
				data-pagefind-filter={`productId:${product.id}`}
				class="prose prose-stone dark:prose-invert p-6 md:px-8 lg:pt-0 pb-10 max-w-3xl xl:max-w-[49rem]"
			>
				{
					title === product.name ? (
						<div class="not-prose flex flex-col items-center mt-2 mb-10 gap-4">
							<h1>
								<Image alt={product.name} src={product.logotype} />
							</h1>
							<p class="text-xl font-medium text-stone-500">{description}</p>
						</div>
					) : (
						<>
							<h1 class="mb-2 font-bold">{title}</h1>
							{description && (
								<p class="mt-0 mb-8 text-stone-500 text-xl">{description}</p>
							)}
						</>
					)
				}
				<slot />
			</main>

			<div class="py-3 px-6 md:px-8">
				<WasThisHelpful
					editHref={`https://github.com/leaningtech/labs.leaningtech.com/edit/main/src/content/docs/${id}`}
				/>
				{
					directory && (
						<div class="py-5">
							<DocsPagination activeId={id} />
						</div>
					)
				}
			</div>
		</main>
		<aside
			class="w-32 xl:w-64 px-4 py-6 text-sm hidden xl:block h-[calc(100vh-4rem)] overflow-y-auto top-[65px] sticky"
		>
			{headings && <TableOfContents {headings} />}
		</aside>
	</docs-article>
	<Footer />
</Shell>

<script>
	class DocsArticle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("[data-sidebar-toggle]");
			const backdrop = this.querySelector("[data-backdrop]");
			const close = this.querySelector("[data-sidebar-close]");
			button!.addEventListener("click", this.toggleSidebar.bind(this));
			backdrop!.addEventListener("click", this.toggleSidebar.bind(this));
			close!.addEventListener("click", this.toggleSidebar.bind(this));
		}

		toggleSidebar() {
			const sidebar = this.querySelector("[data-sidebar-wrapper]");
			const backdrop = this.querySelector("[data-backdrop]");
			sidebar!.classList.toggle("hidden");
			backdrop!.classList.toggle("hidden");
			sidebar!.querySelector("a")?.focus();
		}
	}

	customElements.define("docs-article", DocsArticle);

	import "../lib/callout";
	import "../lib/terminal-os-tabs";
	import "../lib/code-replace";
</script>
