---
import Shell from "./Shell.astro";
import DocsSidebar from "../components/DocsSidebar.astro";
import { getRootNav, findNavDirectory, isProduct, isMode } from "../lib/nav";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { Icon } from "astro-icon";
import DocsPagination from "../components/DocsPagination.astro";

interface Props {
	id: string;
	title: string; // TODO: derive from id
}

const { id, title } = Astro.props;

// TODO: probably better to have these come in as props?
//
const [, product, mode] = Astro.url.pathname.split("/");
if (!isProduct(product) || !isMode(mode))
	throw new Error("DocsArticle expects url /[product]/[mode]/[...]");

const nav = await getRootNav();
const directory = findNavDirectory(nav, [product, mode]);

const today = new Date();
---

<Shell {title}>
	<docs-article class="max-w-screen-2xl w-full mx-auto flex">
		<div data-sidebar-wrapper class="hidden lg:block shadow-xl lg:shadow-none">
			<DocsSidebar {product} {mode} {directory} />
		</div>
		<div
			data-backdrop
			class="hidden lg:hidden fixed inset-0 bg-stone-900 bg-opacity-50 backdrop-blur"
		>
		</div>
		<main class="grow p-6 sm:px-6 md:px-8 w-full max-w-3xl mx-auto lg:mx-0">
			<div class="mb-2.5 flex items-center gap-4">
				<button data-sidebar-toggle class="lg:hidden">
					<span class="sr-only">Open navigation menu</span>
					<Icon name="jam:menu" class="w-8 h-8" />
				</button>
				<Breadcrumbs />
			</div>

			<main data-pagefind-body class="prose prose-stone dark:prose-invert">
				<h1 class="mb-12 font-bold">{title}</h1>
				<slot />
			</main>

			{
				directory && (
					<div class="py-5">
						<DocsPagination activeId={id} />
					</div>
				)
			}
			<footer class="py-10 border-t border-t-stone-800 text-stone-500 text-sm">
				© Leaning Technologies {today.getFullYear()}
			</footer>
		</main>
		<aside class="w-32 xl:w-64 px-4 py-32 space-y-8 text-sm hidden lg:block">
			<section>
				<h5 class="font-semibold mb-2">On this page</h5>
				<ul>
					<li>Table</li>
					<li>of</li>
					<li>contents</li>
				</ul>
			</section>
			<section>
				<h5 class="font-semibold mb-2">Contribute</h5>
				<ul>
					<li>Edit this page</li>
					<li>Give feedback</li>
				</ul>
			</section>
		</aside>
	</docs-article>
</Shell>

<script>
	class DocsArticle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("[data-sidebar-toggle]");
			const backdrop = this.querySelector("[data-backdrop]");
			const close = this.querySelector("[data-sidebar-close]");
			button!.addEventListener("click", this.toggleSidebar.bind(this));
			backdrop!.addEventListener("click", this.toggleSidebar.bind(this));
			close!.addEventListener("click", this.toggleSidebar.bind(this));
		}

		toggleSidebar() {
			const sidebar = this.querySelector("[data-sidebar-wrapper]");
			const backdrop = this.querySelector("[data-backdrop]");
			sidebar!.classList.toggle("hidden");
			backdrop!.classList.toggle("hidden");
			sidebar!.querySelector("a")?.focus();
		}
	}

	customElements.define("docs-article", DocsArticle);
</script>
